.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;

  grid-template-areas: 
  "header header"
  "nav app-content";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 20px;
}


.app-wrapper-content {
  background-color:#ffe1ee;
  grid-area: app-content;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.20),
              0 15px 12px rgba(0,0,0,0.15);
  padding: 10px;
}
